<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- COMPONENT 5   -->
	<section class="container">
		
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />		
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>

	</section>
	
	<!-- End Component -->
	
</body>
</html>