/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
body {
	background: rgb(18, 19, 20);
}

section {
	width: 100%;
	padding: 5rem;
	text-align: center;
	background-image:url('bg.png');
	background-size: cover;
}

blockquote, p { 
	color: rgba(255, 255, 255, 0.75);
	text-align: center;	
}

blockquote {
	font: normal italic 3rem/1.5 'Bodoni Moda', serif;
	padding-bottom: 5rem;
}

p { font-size: 1.4rem; }

p:first-child { font-size: 1.6rem; }

@media only screen and (min-width: 600px) {
	blockquote { 
		max-width: 750px; 
		margin:auto;
	}
}                       