<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	<title>Albert Martinez: Web Standards Project</title>

	<!-- css: RESET -->
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />

	<!-- CSS: FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap" rel="stylesheet">
	
	<!-- CSS: CUSTOM STYLSHEET -->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<blockquote>I think that the most important thing a woman can have-next to talent, of course- is her hairdresser.</blockquote>
		<h1>Joan Crawford</h1>
		<p> // Oscar-Winning Film &amp; T.V. Actress</p>
	</section>
	

	<!-- End Component -->
	
</body>
</html>