<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Albert Martinez: Web Standards Project | Call To Action (CTA) - Component 4</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<section>
		<p class="smallcaps">Brought to you by</p>
		<h1>Invision</h1>
		<img src="logo.png" alt="invision hot pink TypeLockup Logo"/>
		<h2>Design better. Faster. Together.</h2>
		<p class="subheading">The world's leading prototyping, collaboration &amp; workflow platform</p>
		<p><a href="#">Get started - Free forever!</a></p>
	</section>
</body>
</html>