/* 
===========================
COMPONENT 9 STYLESHEET
====================== */
* {
	box-sizing: border-box;
}
/* TYPOGRAPHY ============ */

/* base font */
body {
	font-size: 1.6rem;
	line-height: 1.5;
	color: rgba(0 0 0 / 50%);
}

/* headings + cta */
h2, h3, form p, input[type="button"] {
	margin-bottom: 2rem;
	color: #fff;
}

h2, h3 {
	text-transform: uppercase;
	letter-spacing: 1.2rem;
	line-height: 3;
	font-weight: 300;
}

/* main heading */
h2 {
	font-size: 4rem;
	color: #1d1d1d;
}

/* form heading */
h3 { font-size: 2.7rem; }

/* SIGN-UP FORM */
/* Whitespace Headings */
.main_content, form {
	width: 100%;
	margin-bottom: 3rem;
	padding: 3rem;
}

section form {
	background: #131313;
}

/* general form input */
form input {
    border: 1px solid #0f0f0f;
    margin-bottom: 3rem;
    padding: 1rem 1.3rem;
    font-size: 1.6rem;
    border-radius: 6px;
	 transition: all 0.25s ease-out;
}

/* email input field */
form input[type="email"] {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* email input field hover */
form input[type="email"]:hover {
	border-color: hsl(0, 0%, 50%);
	color: white;
}

input[type="email"]::placeholder { 
	font: italic 1.4rem/2 "Open Sans", sans-serif;
}

/* FOR TEXT ON DARK COLORED BG'S	 */
form p, input[type="email"]::placeholder { 
	color: rgb(255 255 255 / 50%);
}

form input[type="email"], 
form input[type="button"] {
	width: 100%;
	background: rgb(1 1 1 / 32%);
	
}

form input[type="email"]:focus { 
	outline: none;
	
}


/* subscribe button */
form input[type="button"] {
	color: white;
	font-weight: 400;
	background: linear-gradient(180deg, #313131 26%, #000000 100%);
	box-shadow: 0 -2px 1px 0 rgb(255 255 255 / 50%), 0 0 4px 1px rgb(1 1 1 / 30%);
	border: 1px solid inset rgb(255 255 255 / 40%);
	transition: all 0.25s ease-in;
}
/* subscribe button hover */
form input[type="button"]:hover {
	background: linear-gradient(0deg, #313131 26%, #000000 100%);
	/* background: #4d4d4d; */
	
	box-shadow: 0 1px 1px 0 #fff, 0 0 2px 1px rgb(0 0 0 / 50%);
	transition: all 0.25s ease-in;
}



/*  ===================
RESPONSIVE STYLES 
===================*/
@media (min-width: 700px) {
	/* restrict size + align center */
	section {
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba 33%);
	}

	.main_content {
		max-width: calc(100% / 3);
	}
	
	section::before {
		content: "";
    display: block;
    width: 80%;
    height: 105%;
    position: absolute;
    background: rgb(236, 236, 236);
    z-index: -1;
    padding-bottom: 2rem;
	}

	/* adjust img size */
	section img {
		position: absolute;
		max-width: 35%;
		top: 56%;
		left: 33%;
	}
	
	/* position form */
	form {
		max-width: 44%;
		position: absolute;
		top: 104%;
		left: 57%;
		padding: 0 3% 7.6% 3%;
	}

	form input[type="button"] {
		letter-spacing: 0.1rem;
		padding: 7% 0%;
	}
}
